
<!--==============================slider=================================-->	
		<div class="slider_wrapper">
			<div id="camera_wrap" class="">
				
			
				<% @offers.each do |offer| %>
				
					<% case %> 
						<% when offer.destination == "Peru" %>
							<div data-src="images/zakynthos.jpg" alt="zakynthos"> <!--user input image with paperclip-->
						<% when offer.destination == "Cluj" %>
							<div data-src="images/bodrum.jpg" alt="zakynthos">
						<% else %> 
							 <div data-src="images/corfu.jpg" alt="zakynthos">
					<% end %>
					
						<div class="caption fadeIn">
							<h2><%= offer.destination %></h2>
							<div class="price">
								<span><%= offer.price %></span>
							</div>
							<div class="extra_wrapper">
								<p><%= offer.description %></p>
							</div>
							<div class="extra_wrapper">
								<p><%= offer.transport %></p>
							</div>
							<div class="btn"><%= link_to 'VEZI OFERTA!', offer.link %></div>
						</div>		 	
					</div>
				<% end %>
			</div>
		</div>
		
<!--==============================Content=================================-->



